/** 
 *  google fonts    | usage         | weight + style
 * -----------------|---------------|----------------------
 *  Alumni Sans     | narrow        | 200/400/700 + italic
 *  Fleur De Leah   | flowery deco  | 400/700
 *  Karantina       | heavy overlay | 300/700
 *  Material Icons  | icons         | 300
 *  Style Script    | decoration    | 400
 *  Titillium Web   | regular       | 200/400/700 + italic
 */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Fleur+De+Leah&family=Karantina:wght@300;700&family=Style+Script&family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Unica+One&family=Material+Symbols+Outlined:wght@300&display=swap');

/**
 *  outside fonts   | usage         
 * -----------------|------------------
 *  Blockletter     | heavy title
 *  Minecraft       | monospace
 *  Minecraft Fifty | monospace, title
*/
@font-face {
  font-family: 'Blockletter';
  src: url('../fonts/Blockletter.otf') format('opentype');
}
@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraft-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Minecraft Fifty';
  src: url('../fonts/MinecraftFifty-Solid.otf') format('opentype');
}

:root {
  
  /* OAE Colors */

  --oae-color-dark-gray: #1c1c1c;
  --oae-color-dull-gray: #222222;
  --oae-color-french-gray: #BEBFC5;
  --oae-color-white: #f8f8f8;
  --oae-color-dark-green: #1a2718;
  --oae-color-green: #69995D;
  --oae-color-light-green: #9ce28a;
  --oae-color-white-green: #d6f6ce;
  --oae-color-dark-tan: #46341F;
  --oae-color-tan: #CBAC88;

  --oae-color-danger: #ff4848;
  --oae-color-warning: #ffb222;
  --oae-color-success: #55ff55;

  --oae-default: var(--oae-color-french-gray);
  --oae-primary: var(--oae-color-green);
  --oae-secondary: var(--oae-color-tan);

  /* OAE Fonts */

  --oae-font-regular: 'Titillium Web';
  --oae-font-narrow: 'Alumni Sans';
  --oae-font-pretty: 'Fleur De Leah';
  --oae-font-heading: 'Style Script';
  --oae-font-block: 'Karantina';
  --oae-font-overlay: 'Blockletter';
}

/* Responsive breakpoints */

$respo-xl: 1200px;
$respo-lg: 1000px;
$respo-md: 700px;
$respo-sm: 400px;
